// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$app-bar-elevation: 5;
$text-field-filled-full-width-outlined-single-line-slot-min-height: 26px !important;
$text-field-dense-padding: 8px 0 4px !important;
$slider-track-width: 6px;
$slider-track-border-radius: 6px;
$slider-tick-border-radius: 6px;

$list-item-title-font-size: 0.8rem;
$list-item-min-height: 40px;

@import '~vuetify/src/styles/styles.sass';

.v-main__wrap {
    background: #120458;
}
